

html,body {
margin: 0px;
padding: 0px;
}

body {
    background-color: #CAE8FF;
    color:black;
    font-family: 'Montserrat', sans-serif;
    
}

.navigation {
    background-color: #050A30;
    color: white;
    height: 50px;
    text-transform: uppercase;
    animation-name: profile-capa;
    animation-duration: 2s;
}

.navigation ul {
    margin-top: 0px;
    list-style: none;
    padding-left: 0px;
    text-align: right;
    height: 50px;  
}

.navigation li {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 50px;
}

.navigation a {
    color: white;
    text-decoration: none;
}

.navigation a:hover {
    color: #162dff;
}

.navigation li.treslinhas {
    display: none;
}

.capa {
    color: black;
}

.capa span {
    color: #050A30 ;
    display: block;
    font-weight: 600;
}

.capa div {
    display: inline-block;
    height: 650px;
}

.profile-pic {
    width: 40%;
    text-align: center;

    animation-name: profile-capa;
    animation-duration: 2s;
}

.profile-pic img {
    width: 320px;
    border-radius: 320px;
    margin-top: 90px;
}

.profile-title {
    vertical-align:top;
    width: 59%;

    animation-name: titulo-capa;
    animation-duration: 2s;
    
}

.profile-title h1 {
    font-size: 50px;
    margin-top: 180px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 50px;
}

.profile-title h2 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: -30px;
}

.main {
    padding: 80px 180px 80px 100px;

    animation-name: profile-capa;
    animation-duration: 2s;
   
}

.cv-pic {
    float: left;
    width: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.main h1{
    color: black;
    font-weight: normal;
    font-weight: 600;

}

.main h2 {
    color: black;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 40px;
}

.main h3 {
    color: #050A30;
    font-weight: normal;
    font-weight: 500;
    font-size: 18px;
}

.main p {
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    text-align: justify;
}

.caminho {
    list-style: none;
    padding-left: 0;
    color: gray; 
}

.caminho li {
    display: inline-block;
}

.caminho a {
    color: gray;
}

hr {
	border: 0px solid; 
	background: #a3a3a3 ;
	}

.social-img {
    width: 50px;
    margin-right: 10px;
}

.miniatura {
    width: 320px;
    height: 320px;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    background-size: contain;
}

.back-link {
    color: #050A30;
}

.mensagem-zoeira {
    width: 100%;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    margin-top: -90px;

}

.mensagem-zoeira2 {
    margin-bottom: 350px;
    margin-right: 200px;
    margin-left: 200px;
}

.mensagem-zoeira3 {
    margin-bottom: 350px;
    margin-right: 200px;
    margin-left: 200px;
    text-transform: uppercase;
}

.mensagem-zoeira4 {
    margin-bottom: 350px;
    margin-right: 200px;
    margin-left: 200px;
    text-transform: uppercase;
    color: red;
}

.mensagem-zoeira5 {
    font-weight: 500;
    margin-bottom: 300px;
    margin-right: 200px;
    margin-left: 200px;
    text-transform: uppercase;
    color: red;
}

@keyframes profile-capa {
    0% {opacity: 0; transform: translate(0px, 0px);}
    100% {opacity: 1;transform: translate(0px, 0px);}   
}


@keyframes titulo-capa {
    0% {opacity: 0; transform: translate(0px, -20px);}
    100% {opacity: 1;transform: translate(0px, 0px);}   
}

@media (max-width: 1000px) {

.navigation li {
    display: none;
}

.navigation li.treslinhas {
    display: inline-block;
}
    
}